.book-card{
    border: 3px solid black;
    border-radius: 15px;
    background-color: grey;
    margin:15px;
    padding: 15px;
}
.books{
    display:flex;
    flex-wrap: wrap;
}

.newbookform{
    padding:15px;
    
}

#Bookform{
    display:flex;
    flex-direction: column;
}

body{
    background-color: azure;
}
